<div id="footer">
  <div class="container">
    <div class="footer-wrapper row">
      <div class="col xl3 l6 s6 footer-links-wrapper footer-block-wrapper">
        <h5><%= t('ezcollect') %></h5>
        <div class="footer-links">
          <div class="link-item">
            <a href="/pages/about">About</a>
          </div>
          <div class="link-item">
            <a href="/pages/partner">Partner</a>
          </div>
          <div class="link-item">
            <a href="/pages/the-author">The author</a>
          </div>
        </div>
      </div>
      <div class="col xl3 l6 s6 footer-links-wrapper footer-block-wrapper">
        <h5><%= t('helpful_links') %></h5>
        <div class="footer-links">
          <div class="link-item">
            <a href="/pages/support">Support</a>
          </div>
          <div class="link-item">
            <a href="/pages/faqs">FAQs</a>
          </div>
          <div class="link-item">
            <a href="/pages/term-and-condition">Term & Condition</a>
          </div>
          <div class="link-item">
            <a href="/pages/pricing">Pricing</a>
          </div>
          <div class="link-item">
            <a href="/pages/contact">Contact</a>
          </div>
        </div>
      </div>
      <div class="col xl6 l12 m12 s12 footer-block-wrapper">
        <h5><%= t('powered_by') %></h5>
        <div class="footer-techs">
          <div class="tech-item main bg-w">
            <a href="https://rubyonrails.org/">
              <%= image_tag "/media/technology/tech_1.png" %>
            </a>
          </div>
          <div class="tech-item main bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_2.png" %>
            </a>
          </div>
          <div class="tech-item bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_3.png" %>
            </a>
          </div>
          <div class="tech-item bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_4.png" %>
            </a>
          </div>
          <div class="tech-item main bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_5.png" %>
            </a>
          </div>
          <div class="tech-item main bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_6.png" %>
            </a>
          </div>
          <div class="tech-item main bg-w">
            <a href="https://datatables.net/">
              <%= image_tag "/media/technology/tech_7.png" %>
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 copyright-wrapper">
        <p class="copyright-text"><%= "SnowSolution © 2022. All right reserved" %></p>
      </div>
    </div>
  </div>
</div>
