<div class="row">
  <div class="container-header">
    <div class="page-title">
      <h1><%= @page_title %></h1>
    </div>
    <div class="action-bar">
      <a href="<%= "/" %>" class="btn btn-primary"><%= t('job.action.create') %></a>
    </div>
  </div>
  <div class="col s12 grid-table">
    <table id="main-table" class="display" style="width:100%">
      <thead>
      <tr>
        <th><%= t('workflow.field.name') %></th>
        <th><%= t('workflow.field.workflow_type') %></th>
        <th><%= t('workflow.field.available_params') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <% for item in @collection %>
        <tr>
          <td class="cell">
            <div><%= item.name %></div>
          </td>
          <td class="cell">
            <div><%= item.workflow_type %></div>
          </td>
          <td class="cell">
            <div><%= item.available_params %></div>
          </td>
          <td class="cell">
            <div class="row-action-bar">
              <a class="btn" href="<%= job_edit_url(id: item.id) %>"><%= t('edit') %></a>
            </div>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    require(['jquery', 'table/util'], function ($, tableUtil) {
        $(document).ready(function () {
            tableUtil.init($('#main-table'))
        });
    })
</script>