<div class="row">
  <div class="container-header">
    <div class="page-title">
      <h1><%= @page_title %></h1>
    </div>
    <div class="form-action action-bar top-bar">
      <a href="/job" class="btn btn-secondary"><%= t('back') %></a>
      <button class="btn form-submit"><%= t('submit') %></button>
    </div>
  </div>
  <%= form_with url: "/job/add", method: :post, id: "job-create-form" do |form| %>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('General') %></h2>
      </div>
      <div class="">
        <div class="col s6">
          <label for="title"><%= t('job.field.title') %></label>
          <input type="text" id="title" name="job[title]" class="validate">
        </div>
        <div class="col s6">
          <label for="yoe"><%= t('job.field.yoe') %></label>
          <input type="text" id="yoe" name="job[yoe]" class="validate">
        </div>
      </div>
    </div>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('Information') %></h2>
      </div>
      <div class="">
        <div class="col s12">
          <label for="description"><%= t('job.field.description') %></label>
          <textarea id="description" name="job[description]" class="ckeditor"></textarea>
        </div>
        <div class="col s12">
          <label for="title"><%= t('job.field.must_have_req') %></label>
          <textarea id="must_have_req" name="job[must_have_req]" class="ckeditor"></textarea>
        </div>
        <div class="col s12">
          <label for="nice_to_have_req"><%= t('job.field.nice_to_have_req') %></label>
          <textarea id="nice_to_have_req" name="job[nice_to_have_req]" class="ckeditor"></textarea>
        </div>
        <div class="col s12">
          <label for="benefit"><%= t('job.field.benefit') %></label>
          <textarea id="benefit" name="job[benefit]" class="ckeditor"></textarea>
        </div>
      </div>
    </div>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('Salary') %></h2>
      </div>
      <div class="">
        <div class="col s6">
          <label for="salary_type"><%= t('job.field.salary_type') %></label>
          <select id="salary_type" name="job[salary_type]" class="select-dropdown">
            <option value="" disabled selected><%= t('choose_one') %></option>
            <% for option in JobSalaryTypeOption.to_option %>
              <option value="<%= option['value'] %>"><%= option['label'] %></option>
            <% end %>
          </select>
        </div>
        <div class="col s6">
          <label for="salary"><%= t('job.field.salary') %></label>
          <input type="text" id="salary" name="job[salary]" class="validate">
        </div>
      </div>
    </div>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('Geo information') %></h2>
      </div>
      <div class="">
        <div class="col s12">
          <label for="location"><%= t('job.field.location') %></label>
          <input type="text" id="location" name="job[location]" class="validate">
        </div>
      </div>
    </div>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('Schedule') %></h2>
      </div>
      <div class="">
        <div class="col s6">
          <label for="issue_from"><%= t('job.field.issue_from') %></label>
          <input type="text" id="issue_from" name="job[issue_from]" class="validate datepicker">
        </div>
        <div class="col s6">
          <label for="issue_to"><%= t('job.field.issue_to') %></label>
          <input type="text" id="issue_to" name="job[issue_to]" class="validate datepicker">
        </div>
      </div>
    </div>
    <div class="field-group col s12">
      <div class="group-title">
        <h2><%= t('Additional') %></h2>
      </div>
      <div class="">
        <div class="col s6">
          <label for="status"><%= t('job.field.status') %></label>
          <select id="status" name="job[status]" class="select-dropdown">
            <option value="" disabled selected><%= t('choose_one') %></option>
            <% for option in JobStatusOption.to_option %>
              <option value="<%= option['value'] %>"><%= option['label'] %></option>
            <% end %>
          </select>
        </div>
        <div class="col s6">
          <label for="quantity"><%= t('job.field.quantity') %></label>
          <input type="text" id="quantity" name="job[quantity]" class="validate">

        </div>
      </div>
    </div>
  <% end %>
  <div class="form-action action-bar bottom-bar">
    <button class="btn form-submit"><%= t('submit') %></button>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    require(['jquery', 'form/util'], function ($, form) {
        form.init('#job-create-form')
    })
</script>