<div class="row">
  <div class="container-header">
    <div class="page-title">
      <h1><%= @page_title %></h1>
    </div>
    <div class="action-bar">
      <a href="<%= job_add_url %>" class="btn btn-primary"><%= t('job.action.create') %></a>
    </div>
  </div>
  <div class="col s12 grid-table">
    <table id="main-table" class="display" style="width:100%">
      <thead>
      <tr>
        <th><%= t('job.field.title') %></th>
        <th><%= t('created_at') %></th>
        <th><%= t('job.field.status') %></th>
        <th><%= t('job.field.employment_type') %></th>
        <th><%= t('job.field.work_mode') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <% for item in @collection %>
        <tr>
          <td class="cell">
            <div class="main-content strong-content"><%= item.title %></div>
            <div class="sub-content">
              <i class="tiny material-icons">location_on</i>
              <%= item.location_country %>
            </div>
          </td>
          <td class="cell">
            <%= item.created_at.to_fs(:date) %>
          </td>
          <td class="cell">
            <%= JobStatusOption.to_label item.status %>
          </td>
          <td class="cell">
            <%= JobEmploymentTypeOption.to_label item.employment_type %>
          </td>
          <td class="cell">
            <%= JobWorkModeOption.to_label item.work_mode %>
          </td>
          <td class="cell">
            <div class="row-action-bar">
              <a class="btn" href="<%= job_edit_url(id: item.id) %>"><%= t('edit') %></a>
            </div>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    require(['jquery', 'table/util'], function ($, tableUtil) {
        $(document).ready(function () {
            tableUtil.init($('#main-table'))
        });
    })
</script>