<div id="login-form" class="row z-depth-3">
  <div class="login-logo-wrapper">
    <%= image_tag "/media/logo.png", class: "logo" %>
    <span class="logo-title">
      <%= "EZCollect" %>
    </span>
  </div>
  <h1><%= t('login') %></h1>
  <form class="col s12" method="POST" action="/login">
    <div class="row">
      <div class="input-field col s12">
        <input value="" id="email" type="text" name="email" class="validate">
        <label for="email"><%= t('email') %></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate">
        <label for="password"><%= t('password') %></label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" id="login-btn" type="submit" name="action">
          <%= t('submit') %>
          <i class="material-icons right"></i>
        </button>
      </div>
      <div class="col s12">
        <div class="register-tip">
          <%= t('dont_have_an_account?') %> <a href="/register"><%= t('register_one!') %></a>
        </div>
      </div>
    </div>
  </form>
</div>